@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Cart *@


<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>info@example.com</p>
                    <p>example.mail@hum.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- cart area start -->
@* <div class="cart__sidebar">
    <div class="container">
        <div class="cart__content">
            <div class="cart-text">
                <h3 class="mb-40">Shopping cart</h3>
                @if(ViewBag.CartItems != null)
                {
                    @foreach(var ci in ViewBag.CartItems as List<CartItem>)
                    {
                        var image = ci.Product.ProductImages.FirstOrDefault()?.ImagePath;
                        <div class="add_cart_product">
                            <div class="add_cart_product__thumb">
                                <img src="~/img/@(image)/1.png" alt="">
                            </div>
                            <div class="add_cart_product__content">
                                <h5><a asp-controller="Product" asp-action="Detail" asp-route-id="@ci.Product.Id">@ci.Product.Name</a></h5>
                                <p>@(ci.Quantity) × $@(ci.Price)</p>
                                <button class="cart_close"><i class="fal fa-times"></i></button>
                            </div>
                        </div>
                    }
                  
                }
              
       
            </div>
            <div class="cart-icon">
                <i class="fal fa-times"></i>
            </div>
            <div class="cart-bottom">
                <div class="cart-bottom__text">
                    <span>Subtotal:</span>
                    <span class="end">$121.00</span>
                    <a asp-controller="Cart" asp-action="Index">view cart</a>
                    <a asp-controller="Home" asp-action="Checkout">checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-offcanvas-overlay"></div> *@
<!-- cart area end -->
<!-- breadcrumb area start -->
<div class="page-layout" data-background="@Url.Content("~/img/slider/shop.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">Cart</h2>
                    <div class="breadcrumb-menu">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Index">cart</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<div class="f_cart_area pt-110 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="cart_table">
                    <form asp-action="UpdateCart" asp-controller="Cart" method="post">
                        <table>
                            <tr>
                                <td>Product</td>
                                <td></td>
                                <td>price</td>
                                <td>Quantity</td>
                                <td>Total</td>
                            </tr>
                            <tbody>
                                @if (ViewBag.CartItems != null)
                                {
                                    var index = 0;
                                    @foreach (var ci in ViewBag.CartItems as List<CartItem>)
                                    {
                                        
                                        var image = ci.Product.ProductImages.FirstOrDefault()?.ImagePath;
                                        <tr class="max-width-set">
                                            <td>
                                                <img src="~/img/@(image)/1.png" alt="">
                                            </td>
                                            <td>@ci.Product.Name</td>
                                            <td>$@ci.Product.Price</td>
                                            <td>
                                                <div class="viewcontent__action single_action pt-30">
                                                    <span>
                                                        <input type="hidden" name="cartItems[@index].Id" value="@ci.Id" />

                                                        <input type="number" name="cartItems[@index].Quantity" value="@ci.Quantity" placeholder="1">
                                                    </span>
                                                </div>
                                            </td>
                                            <td>$@(ci.Price* ci.Quantity)</td>
                                            <td class="width-set">
                                                <a href="javascript:void(0)" class="cart-remove-btn" data-type="reload" data-id="@ci.Id">
                                                    <i class="fal fa-times-circle"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }

                            </tbody>
                            <tfoot>
                                <tr class="design-footer">
                                    <td><input type="text" placeholder="Coupon Code"></td>
                                    <td><button type="submit">Apply Coupon</button></td>
                                    <td colspan="3"><button type="submit" >update cart</button></td>
                                </tr>
                            </tfoot>
                        </table>
                 </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="cart__acount">
                    <h5>Cart totals</h5>
                    <table>
                        <tr class="first-child">
                            <td>Subtotal</td>
                            <td>$18.00</td>
                        </tr>
                        <tr class="first-child lastchild">
                            <td>Shipping</td>
                            <td>
                                Enter your address to view shipping options <br>
                                Calculate shipping
                            </td>
                        </tr>
                        <tr class="first-child">
                            <td>Total</td>
                            @if(ViewBag.Cart != null)
                            {
                                var cart = ViewBag.Cart as Cart;
                                <td>$@cart.TotalPrice</td >
                            }
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a asp-controller="Home" asp-action="Checkout"><input type="submit" value="procced to checkout"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

