<!-- cart area start -->
<div class="cart__sidebar">
    <div class="container">
        <div class="cart__content">
            <div class="cart-text">
                <h3 class="mb-40">Shopping cart</h3>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="@Url.Content("~/img/product/29-3.jpg")" alt="product_image">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a asp-controller="Shop" asp-action="Index">Running 3-Stripes</a></h5>
                        <p>1 × $66.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="@Url.Content("~/img/product/17.jpg")" alt="product_image">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a asp-controller ="Shop" asp-action="Index">Buddy non Stripes</a></h5>
                        <p>1 × $40.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="cart-icon">
                <i class="fal fa-times"></i>
            </div>
            <div class="cart-bottom">
                <div class="cart-bottom__text">
                    <span>Subtotal:</span>
                    <span class="end">$121.00</span>
                    <a asp-controller="Cart" asp-action="Index">view cart</a>
                    <a asp-controller="Home" asp-action="Checkout">checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-offcanvas-overlay"></div>
<!-- cart area end -->
<!-- breadcrumb area start -->
<div class="page-layout about" data-background="@Url.Content("~/img/page/About-us1.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">about us</h2>
                    <div class="breadcrumb-menu">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="About">about</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- history area start -->
<div class="history__area pt-115 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="g_history mb-100">
                    <h4 class="pl-130">our history</h4>
                    <h2 class="title-3 pl-130 pt-20 mb-70">We Are A Lifestyle Brand</h2>
                    <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, velillum dolore eu feugiat nulla facilisis.</p>
                    <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. For me, the most important part of improving at photography has been sharing it.</p>
                    <p>Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get better at photography. Talk about it. When you talk about it, other people get excited about it. There are few plugins and apps available for this purpose, many of them required a monthly subscription or needed to expose the full store data to a third party.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="history__thumb mb-30">
                    <img src="@Url.Content("~/img/about/image1-about.jpg")" alt="history_image">
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="thumb mb-30">
                            <img src="@Url.Content("~/img/about/image2-about.jpg")" alt="history_image">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="thumb mb-30">
                            <img src="@Url.Content("~/img/about/image3-about.jpg")" alt="history_image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="thumb mb-30">
                    <img src="@Url.Content("~/img/about/image4-about.jpg")" alt="history_image">
                </div>
                <div class="thumb mb-30">
                    <img src="@Url.Content("~/img/about/image5-about.jpg")" alt="history_image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- history area end -->
<div class="award__area mb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="singleaward text-center mb-50">
                    <div class="singleaward__thumb">
                        <!-- <img src="" alt=""> -->
                        <span><i class="fad fa-trophy-alt"></i></span>
                    </div>
                    <div class="singleaward__content pb-50">
                        <h3 class="title-4">19 Years of Experience</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="singleaward singleaward_2 text-center mb-50">
                    <div class="singleaward__thumb">
                        <!-- <img src="" alt=""> -->
                        <span><i class="fal fa-thumbs-up"></i></span>
                    </div>
                    <div class="singleaward__content">
                        <h3 class="title-4">Awesome Performance</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="singleaward  text-center mb-50">
                    <div class="singleaward__thumb">
                        <!-- <img src="" alt=""> -->
                        <span><i class="fal fa-user"></i></span>
                    </div>
                    <div class="singleaward__content pb-50">
                        <h3 class="title-4">60,000+ Happy Customer</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- free shiping area start -->
<div class="free__shiping" data-background="@Url.Content("~/img/about/asset19.jpeg")">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="shiping text-center">
                    <div class="shiping__thumb">
                        <span></span>
                    </div>
                    <div class="shiping__content">
                        <h2 class="title-6 pb-30">All Orders Are Free Shipping</h2>
                        <p>Donec vehicula cursus vestibulum lectus, sit eros integer varius cum turpis et quam congue<br> accumsan ac bibendum ac in erat. Donec posuere consectetuer volutpat rutrum ac sollicitudin quam quisque at interdum dignissim fringilla<br> elit risus lorem condimentum eros mollis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- free shiping area end -->
<!-- team area start -->
<div class="history__area pt-115 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="g_history mb-110">
                    <h4 class="pl-130">Our Team</h4>
                    <h2 class="title-3 pl-130 pt-20 ">Team Members</h2>
                    <p class="pl-130">Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="team_members text-center mb-50">
                    <div class="team_members__thumb">
                        <img src="@Url.Content("~/img/team/asset6.png")" alt="team_member">
                    </div>
                    <div class="team_members__content pt-30">
                        <h4 class="sub-title">Eren Christopher</h4>
                        <span>Founder or Agota Store</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="team_members text-center mb-50 ">
                    <div class="team_members__thumb">
                        <img src="@Url.Content("~/img/team/asset7.png")" alt="team_member">
                    </div>
                    <div class="team_members__content pt-30">
                        <h4 class="sub-title">Mike Jefferson</h4>
                        <span>Founder or Agota Store</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="team_members text-center mb-50">
                    <div class="team_members__thumb">
                        <img src="@Url.Content("~/img/team/asset8.png")" alt="team_member">
                    </div>
                    <div class="team_members__content pt-30">
                        <h4 class="sub-title">Eren Christopher</h4>
                        <span>Founder or Agota Store</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team area end -->
<!-- testimonial area start -->
<div class="testimonial__area">
    <div class="container">
        <div class="testimonial-active swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial text-center">
                        <div class="testimonial__thumb mb-20">
                            <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                            <img src="@Url.Content("~/img/team/asset9.png")" alt="testimonial_img">
                        </div>
                        <div class="testimonial__content">
                            <p class="text-white mb-20">
                                For me the most important part of improving at photography has been sharing it.<br>
                                Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                products designed to be extremely functional, user-friendly and fun.
                            </p>
                            <span class="author text-white">Eren Christopher</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial text-center">
                        <div class="testimonial__thumb mb-20">
                            <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                            <img src="@Url.Content("~/img/team/asset9.png")" alt="testimonial_img">
                        </div>
                        <div class="testimonial__content">
                            <p class="text-white mb-20">
                                For me the most important part of improving at photography has been sharing it.<br>
                                Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                products designed to be extremely functional, user-friendly and fun.
                            </p>
                            <span class="author text-white">Eren Christopher</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial text-center">
                        <div class="testimonial__thumb mb-20">
                            <p class="fix mb-30"><i class="fal fa-quote-left"></i></p>
                            <img src="@Url.Content("~/img/team/asset9.png")" alt="testimonial_img">
                        </div>
                        <div class="testimonial__content">
                            <p class="text-white mb-20">
                                For me the most important part of improving at photography has been sharing it.<br>
                                Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get<br> better at photography. Minimalist approach, bright colors, stainless steel and matte plastic, abstract<br> shapes and curved lines are the defining features of these<br>
                                products designed to be extremely functional, user-friendly and fun.
                            </p>
                            <span class="author text-white">Eren Christopher</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial area end -->
<!-- brand area start -->
<div class="brand-area">
    <div class="container">
        <div class="brand-active swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset10.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset11.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset12.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset13.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset14.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset13.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset11.png")" alt="brand_logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-item">
                        <img src="@Url.Content("~/img/brand/asset12.png")" alt="brand_logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area end -->