@{
    ViewData["Title"] = "Home Page";
}
@using CSE443_KTM_Ecommerce.Models
@* @using CSE443_KTM_Ecommerce.Extensions; *@

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>
                        Thu  Dau Mot, Binh Duong, Viet Nam
                    </p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>0983.301.103</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>ktm.contact@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-active swiper-container height">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-item">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_images">
                            <!-- <img
                              class="back"
                              src="~/img/slider/slider-img-1.png"
                              alt=""
                            /> -->
                            <img class="back" src="~/img/slider/1.png" alt="" />
                            <img class="top" src="~/img/slider/text.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-item">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_images">
                            <img class="back" src="~/img/slider/2.png" alt="" />
                            <img class="top" src="~/img/slider/text.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slider-item">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_images">
                            <img class="back" src="~/img/slider/3.png" alt="" />
                            <img class="top" src="~/img/slider/text.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- slider end -->
<!-- features area start  -->
<div class="features-area d-none d-md-block fix">
    <div class="row g-0">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a asp-controller="Product" asp-action="Search" asp-route-category="Jersey">
                        <img src="~/img/features/js.png" alt="features1" />
                    </a>
                </div>
                <div class="fetures__content">
                    <h4 class="feature-title mb-40">
                        Football<br />
                        Jersey
                    </h4>
                    <p class="d-md-none d-lg-block">
                        all products
                        <span class="discount"><a href="#">up to 50% off</a></span>
                        limited time discount
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a asp-controller="Product" asp-action="Search" asp-route-category="Shoes" >
                        <img src="~/img/features/fbshoes.png"
                             alt="features1" />
                    </a>
                </div>
                <div class="fetures__content pt-200">
                    <p class="d-md-none d-lg-block">
                        KTM store with a tool that makes design simple for everyone
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="fetures">
                <div class="fetures__thumb fix">
                    <a a asp-controller="Product" asp-action="Search" asp-route-category="Jacket" >
                        <img src="~/img/features/jkbomber.png" alt="features1" />
                    </a>
                </div>
                <div class="fetures__content">
                    <h4 class="feature-title mb-40">Jacket<br />For Team</h4>
                    <p class="d-md-none d-lg-block">
                        all products
                        <span class="discount"><a href="#">up to 30% off</a></span>
                        limited time discount
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features area end  -->
<!-- categories area start -->
<div class="categories_area pt-85 mb-150">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="section-wrapper text-center mb-35">
                <h2 class="section-title">Explore Our Bestsellers</h2>
                <p>
                    Explore our top-selling football jerseys, performance footwear, and stylish jackets.<br />
                    Trusted by athletes and sports fans for both quality and style.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="categories__tab">
                    <ul class="nav nav-tabs justify-content-center mb-55"
                        id="myTab"
                        role="tablist">
                        @if (ViewBag.Categories != null)
                        {
                            @foreach (var cate in ViewBag.Categories as List<Category>)
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link @(cate.Id == 1 ? "active" : "")"
                                            id="@cate.Name-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#@cate.Name"
                                            type="button"
                                            role="tab"
                                            aria-selected="@(cate.Id == 1 ? "true" : "false")">
                                        @cate.Name
                                    </button>
                                </li>
                            }
                        }


                    </ul>
                    <div class="tab-content" id="myTabContent">

                        @if (ViewBag.Categories != null)
                        {
                            @foreach (var cate in ViewBag.Categories as List<Category>)
                            {
                                <div class="tab-pane fade show  @(cate.Id == 1 ? " active" : "") " id="@cate.Name">
                                    <div class="container">
                                        @*Product Items Render here !!!*@
                                        <div class="product-active h-2-product-active swiper-container">
                                            <div class="swiper-wrapper">
                                                @if (cate.Products != null)
                                                {

                                                    ///Product Item render here !!!
                                                    @foreach (var product in cate.Products)
                                                    {
                                                        var imagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/1.png";
                                                        var secondaryImagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/2.png";
                                                        <div class="product-item swiper-slide wow fadeInUp"
                                                             data-wow-duration="1s"
                                                             data-wow-delay="0.2s">
                                                            <div class="product">
                                                                <div class="product__thumb">
                                                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                                                        <img class="product-primary"
                                                                             src="~/img/@(imagePath)"
                                                                             alt="product_image" />
                                                                        <img class="product-secondary"
                                                                             src="~/img/@(secondaryImagePath)"
                                                                             alt="product_image" />
                                                                    </a>
                                                                    <div class="product__update">
                                                                        <a class="#">new</a>
                                                                    </div>
                                                                    <div class="product-info mb-10">
                                                                        <div class="product_category">
                                                                            <span>@cate.Name</span>
                                                                        </div>
                                                                        <div class="product_rating">
                                                                            <a href="#">
                                                                                <i class="fal fa-star start-color"></i>
                                                                            </a>
                                                                            <a href="#">
                                                                                <i class="fal fa-star start-color"></i>
                                                                            </a>
                                                                            <a href="#">
                                                                                <i class="fal fa-star start-color"></i>
                                                                            </a>
                                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product__name">
                                                                        <h4>
                                                                            <a asp-controller="Product" asp-action="Detail" asp-route-id ="@product.Id">@product.Name</a>
                                                                        </h4>
                                                                        <div class="pro-price">
                                                                            <p class="p-absoulute pr-1">
                                                                                <span>$</span>@product.Price
                                                                            </p>
                                                                            <a class="p-absoulute pr-2 addToCartBtn" href="javascript:void(0)" data-product-id="@product.Id">add to cart</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product__action">
                                                                        <div class="inner__action">
                                                                            <div class="wishlist">
                                                                                <a href="#"><i class="fal fa-heart"></i></a>
                                                                            </div>
                                                                            <div class="view">
                                                                                <a class="view-detail-btn" href="javascript:void(0)" data-product-id="@product.Id">
                                                                                    <i class="fal fa-eye"></i>
                                                                                </a>
                                                                            </div>
                                                                            <div class="layer">
                                                                                <a href="#">
                                                                                    <i class="fal fa-layer-group"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- categories area end -->
<!-- product show case area start  -->
<div class="show-case lightblue pt-125">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="section-wrapper text-center mb-35">
                    <h4 class="sub-title">Our Best Product</h4>
                    <h2 class="section-title text-white">
                        Nike Mercurial Vapor 16 Elite "Kylian Mbappé"
                    </h2>
                    <p class="d-none d-lg-block">
                        Built for Kylian’s explosive speed, the Vapor 16 Elite features Air Zoom cushioning,<br />
                        a new traction plate, and Gripknit for next-level acceleration.
                    </p>
                </div>
            </div>
            <div class="case-info text-center">
                <span class="offer-text d-none d-lg-block">
                    hot deal<i class="far fa-stars"></i>
                </span>
                <h2 class="back1-text d-none d-lg-block">top</h2>
                <h2 class="back-text d-none d-lg-block">limited</h2>
                <a asp-controller="Product" asp-action="Detail" asp-route-id="14">
                    <img class="banar-product"
                         src="~/img/product/kylian_shoes.png"
                         alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- product show case area end  -->
<!-- new product area start -->
<div class="new_product_area mb-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="section-wrapper text-center mb-35">
                            <h2 class="section-title">
                                <a href="#">Explore Our New arrivals</a>
                            </h2>
                            <p>
                                Check out the latest additions to our collection — fresh football jerseys, boots, and jackets.<br />
                                Gear up with the newest styles and cutting-edge performance tech.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-active2 swiper-container">
                        <div class="swiper-wrapper">
                            @if (ViewBag.NormalProducts != null)
                            {
                                @foreach (var product in ViewBag.NormalProducts as List<Product>)
                                {
                                    var imagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/1.png";
                                    var secondaryImagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/2.png";
                                    <div class="product-item swiper-slide wow fadeInLeft"
                                         data-wow-duration=".9s"
                                         data-wow-delay=".3s">
                                        <div class="product product-2">
                                            <div class="product__thumb">
                                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                                    <img class="product-primary"
                                                         src="~/img/@(imagePath)"
                                                         alt="product_image" />
                                                    <img class="product-secondary"
                                                         src="~/img/@(secondaryImagePath)"
                                                         alt="product_image" />
                                                </a>
                                                <!-- <div class="product__update">
                                                                            <a class="#">new</a>
                                                                        </div> -->
                                                <div class="product-info mb-10">
                                                    <div class="product_category">
                                                        <span>@product.Category.Name</span>
                                                    </div>
                                                    <div class="product_rating">
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product__name">
                                                    <h4>
                                                        <a asp-controller="Product" asp-action="Detail"  asp-route-id="@product.Id">@product.Name</a>
                                                    </h4>
                                                    <div class="pro-price">
                                                        <p class="p-absoulute pr-1">
                                                            <span>$</span>@product.Price
                                                        </p>
                                                        <a class="p-absoulute pr-2" href="#">add to cart</a>
                                                    </div>
                                                </div>
                                                <div class="product__action">
                                                    <div class="inner__action">
                                                        <div class="wishlist">
                                                            <a href="#"><i class="fal fa-heart"></i></a>
                                                        </div>
                                                        <div class="view">
                                                            <a class="view-detail-btn" href="javascript:void(0)" data-product-id="@product.Id">
                                                                <i class="fal fa-eye"></i>
                                                            </a>
                                                        </div>
                                                        <div class="layer">
                                                            <a href="#"><i class="fal fa-layer-group"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padding-left">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"></div>
                <div class="section-wrapper text-center mb-35">
                    <h2 class="section-title">Explore Our featured</h2>
                    <p>
                        Discover our handpicked selection of football jerseys, boots, and jackets.<br />
                        Premium gear chosen for style, performance, and fan favorites.
                    </p>
                </div>
                <div class="row">
                    <div class="product-active2 swiper-container">
                        <div class="swiper-wrapper">
                            @if (ViewBag.FeaturedProducts != null)
                            {
                                @foreach (var product in ViewBag.FeaturedProducts as List<Product>)
                                {
                                    var imagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/1.png";
                                    var secondaryImagePath = product.ProductImages.FirstOrDefault()?.ImagePath + "/2.png";
                                    <div class="product-item swiper-slide wow fadeInUp"
                                         data-wow-duration="1s"
                                         data-wow-delay="0.2s">
                                        <div class="product">
                                            <div class="product__thumb">
                                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                                    <img class="product-primary"
                                                         src="~/img/@(imagePath)"
                                                         alt="product_image" />
                                                    <img class="product-secondary"
                                                         src="~/img/@(secondaryImagePath)"
                                                         alt="product_image" />
                                                </a>
                                                <div class="product__update">
                                                    <a class="#">new</a>
                                                </div>
                                                <div class="product-info mb-10">
                                                    <div class="product_category">
                                                        <span>@product.Category.Name</span>
                                                    </div>
                                                    <div class="product_rating">
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="fal fa-star start-color"></i>
                                                        </a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product__name">
                                                    <h4>
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a>
                                                    </h4>
                                                    <div class="pro-price">
                                                        <p class="p-absoulute pr-1">
                                                            <span>$</span>@product.Price
                                                        </p>
                                                        <a class="p-absoulute pr-2" href="#">add to cart</a>
                                                    </div>
                                                </div>
                                                <div class="product__action">
                                                    <div class="inner__action">
                                                        <div class="wishlist">
                                                            <a href="#"><i class="fal fa-heart"></i></a>
                                                        </div>
                                                        <div class="view">
                                                            <a class="view-detail-btn" href="javascript:void(0)" data-product-id="@product.Id">
                                                                <i class="fal fa-eye"></i>
                                                            </a>
                                                        </div>
                                                        <div class="layer">
                                                            <a href="#">
                                                                <i class="fal fa-layer-group"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new product area end -->
<!-- blog area start -->
<div class="blog-area mb-100">
    <div class="container">
        <div class="section-wrapper text-center mb-35">
            <h2 class="section-title"><a asp-controller="Home" asp-action="Blog">from our blog</a></h2>
            <p>
                Stay updated with the latest in football gear, style tips, and player insights.<br />
                Dive into stories that inspire both on and off the pitch.
            </p>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="blog"
                     style="background-image: url('@Url.Content("~/img/blog/cr7.png")')">
                    <div class="blog__content">
                        <span class="mb-15">Football News</span>
                        <h3 class="blog-title">
                            <a asp-controller="Home" asp-action="Blog">
                                Cristiano Ronaldo holds the Nations League trophy after Portugal beat Spain in the penalties.
                            </a>
                        </h3>
                        <p>By David /<span>June 9, 2025</span></p>
                        <a asp-controller="Home" asp-action="Blog">Continue reading</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="bpost">
                    <div class="bpost__thumb">
                        <img src="~/img/blog/hary.png" alt="blog_post" style="height: 193px; width: auto" />
                    </div>
                    <div class="bpost__content">
                        <span>Football News</span>
                        <h3 class="blog-title title-2">
                            <a asp-controller="Home" asp-action="Blog">Kane lifts first trophy for champions</a>
                        </h3>
                        <p>By <span>David </span>/May 19, 2025</p>
                        <p>Harry Kane scored and then lifted his first ever trophy...</p>
                    </div>
                </div>
                <div class="bpost">
                    <div class="bpost__thumb">
                        <img src="~/img/blog/mo.png" alt="blog_post" style="height: 193px; width: auto" />
                    </div>
                    <div class="bpost__content">
                        <span>Shoes, Clothing</span>
                        <h3 class="blog-title title-2">
                            <a asp-controller="Home" asp-action="Blog">Special Adidas F50 Mo Salah '24-25 Premier League Topscorer' Boots Revealed</a>
                        </h3>
                        <p>By <span>David </span>/May 16, 2025</p>
                        <p>To celebrate Mohamed Salah's remarkable achievement...</p>
                    </div>
                </div>
                <div class="bpost m-0">
                    <div class="bpost__thumb">
                        <img src="~/img/blog/acmilan.png" alt="blog_post" style="height: 193px; width: auto" />
                    </div>
                    <div class="bpost__content">
                        <span>Shoes, Clothing</span>
                        <h3 class="blog-title title-2">
                            <a asp-controller="Home" asp-action="Blog">Puma X AC Milan X Off-White™ 2024/25 Football Jersey</a>
                        </h3>
                        <p>By <span>David </span>/March 16, 2025</p>
                        <p>PUMA launches the ultimate fusion of fashion and sport...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end -->
<!-- gallary area start  -->
<div class="gallary_area">
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="manchesterunited">
            <img src="~/img/logofc/logo1.png" alt="gallaryImage" />
        </a>
    </div>
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="realmadrid">
            <img src="~/img/logofc/logo2.png" alt="gallaryImage" />
        </a>
    </div>
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="barcelona">
            <img src="~/img/logofc/logo3.png" alt="gallaryImage" />
        </a>
    </div>
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="acmilan">
            <img src="~/img/logofc/logo4.png" alt="gallaryImage" />
        </a>
    </div>
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="bayern">
            <img src="~/img/logofc/logo5.png" alt="gallaryImage" />
        </a>
    </div>
    <div class="gallary__thumb">
        <a asp-controller="Product" asp-action="Search" asp-route-brand="psg">
            <img src="~/img/logofc/logo6.png" alt="gallaryImage" />
        </a>
    </div>
</div>
